{%  extends 'base/main.html' %}

{% block content %} 
<div>
    <div class="container">
        <div style="display: inline-block;">
            <h1 style="color:#252c35; margin-right: 10px;">Exams</h1>
        </div>
        <div style="display: inline-block;">
            <a style="color: #e35760; font-size: 22px; text-align: center;"  href="" type="submit">Post Exam</a>
        </div>
        <div style="display: inline-block;">
            <button>Apply Exam</button>
        </div>
    </div>
    <hr>
    {% csrf_token %}
    {% for exam in exams %}
        {% include 'base/exam_display.html' %}
    {% endfor %}
</div>
{% endblock %}
