{% load static %}
<div class="blue">
    <div>
        <nav class="navbar navbar-light" style="background-color: black;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <img src="{% static 'images/logo5.png' %}">
                </li>
                <li class="nav-item" style="margin:auto; margin-left:20px;">
                    <input style="padding:5px; padding-right:100px;" />
                </li>
                <li class="nav-item" style="margin:auto;">
                    <a class="nav-link" style="color:white;" href="{% url 'questions' %}" style="margin-left:100px; padding:15px;">Questions</a>
                </li>
                <li class="nav-item" style="margin:auto;">
                    <a class="nav-link" style="color:white;" href="{% url 'universities' %}" style="padding:15px; padding-left:30px; padding-right:30px;">Universities</a>
                </li>
                <li class="nav-item" style="margin:auto;">
                    <a class="nav-link" style="color:white;" href="{% url 'books' %}" style="padding:15px; padding-left:30px; padding-right:30px;">Books</a>
                </li>
                <li class="nav-item" style="margin:auto;">
                    <a class="nav-link" style="color:white;" href="{% url 'support' %}" style="padding:15px; padding-left:30px; padding-right:30px;">Support</a>
                </li>
                <li class="nav-item" style="margin:auto;">
                    <a class="nav-link" style="color:white;" href="{% url 'aboutus' %}" style="padding:15px; padding-left:30px; padding-right:30px;">About Us</a>
                </li>
                <li class="nav-item" style="margin:auto; margin-left:20px;">
                    <a style="padding:8px; padding-right:35px; background:white;" href="{% url 'notifications' %}"><img></a>
                </li>
                <li class="nav-item" style="margin:auto; margin-left:20px;">
                    <a style="padding:8px; padding-right:35px; background:white;" href="{% url 'account_settings' %}"><img></a>
                </li>
                <li class="nav-item" style="margin:auto; padding-right:752px;">
                </li>
            </ul>
        </nav>
    </div>
</div>