{% load static %}
<style>
    #id_text {
        width: 100%;
        height: 200px;  
    }
    .hidden {
        display: None;
    }
</style>
<div class="container">
   <hr>
    {% csrf_token %}
    <div style="display:block; margin-bottom:50px; margin-bottom:50px;">
        <div style="display:block;">
            <div style="display:inline-block; margin:5px; margin-right:20px;">
                <p>Discipline: {{question.subject.discipline_name}}</p>
            </div>
            <div style="display:inline-block; margin:5px; margin-right:20px;">
                <p>Subject: {{question.subject}}</p>
            </div>
            <div style="display: inline-block; margin:5px; margin-right:20px;">
                {% if question.university != None %}
                    <p>University: {{question.university.initials}}</p>
                {% endif %}
            </div>
            <div style="display:inline-block; margin:5px; margin-right:20px;">
                <p>Teacher: {{question.teacher_name}}</p>
            </div>
            <div style="display:inline-block; margin:5px; margin-right:20px;">
                <p>Education Level: {{question.education_Level}}</p>
            </div>
            <div style="display:inline-block;">
                <p>Posted: {{question.date_created.year}}</p>
            </div>      
        </div>
        <div>
            <p style="margin-bottom:30px;">{{question.text}}</p>
        </div>
        <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Answear</button>
        <button id="answears" style="padding:10px; padding-right:20px; padding-left:20px;"  onclick="Show">Answears</button>
        <button style="padding:10px; padding-right:20px; padding-left:20px;">Commentaries</button>
        <a href="postreport"><button style="padding:10px; padding-right:20px; padding-left:20px;">Report</button></a>
    </div>
    <div class="hidden">
        <textarea style="width:100%; height: height:100%;"></textarea>
        <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Send Answear</button>
    </div>
    <div class="hidden" style="block">
        {% for commentary in question.comments.all %}
            <p>{{commentary.standard_user}} {{commentary.text}}</p>
        {% endfor %}
        <input>
        <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Send Answear</button>
    </div>
    {% for answear in question.answears.all %}
    <div class="hidden" style="block">
        <p>{{answear.standard_user}}</p>
        <p>{{answear.text}}</p>
    </div>
    {% endfor %}
    <hr>
</div>