{%  extends 'base/main.html' %}

{% block content %} 
<style>#id_text {
    width: 100%;
    height: 200px;  
}</style>
<div>
    <div style="display:inline-block;"><h1>Questions</h1></div>
    <a href="postquestion" type="submit">Post Question</a>
        <hr>
        {% csrf_token %}
        {% for question in questions %}
            <div style="display:block; margin-bottom:50px; margin-bottom:50px;">
                <div style="display:block;">
                    <div style="display:inline-block; margin:5px; margin-right:20px;">
                        <p>Discipline: {{question.subject.discipline_name}}</p>
                    </div>
                    <div style="display:inline-block; margin:5px; margin-right:20px;">
                        <p>Subject: {{question.subject}}</p>
                    </div>
                    <div style="display: inline-block; margin:5px; margin-right:20px;">
                        {% if question.university != None %}
                            <p>University: {{question.university.initials}}</p>
                        {% endif %}
                    </div>
                    <div style="display:inline-block; margin:5px; margin-right:20px;">
                        <p>Teacher: {{question.teacher_name}}</p>
                    </div>
                    <div style="display:inline-block; margin:5px; margin-right:20px;">
                        <p>Education Level: {{question.education_Level}}</p>
                    </div>
                    <div style="display:inline-block;">
                        <p>Posted: {{question.date_created.year}}</p>
                    </div>      
                </div>
                <p style="margin-bottom:30px;">{{question.text}}</p>
                <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Answear</button>
                <button id="answears" style="padding:10px; padding-right:20px; padding-left:20px;"  onclick="Show">Answears</button>
                <button style="padding:10px; padding-right:20px; padding-left:20px;">Commentaries</button>
                <a href="postreport"><button style="padding:10px; padding-right:20px; padding-left:20px;">Report</button></a>
            </div>
            <div>
                <textarea style="width:100%; height: height:100%;"></textarea>
            </div>
            {% for commentary in question.commentaries.all %}
                <div style="block">
                    <p>{{commentary.standard_user}} {{commentary.text}}</p>
                </div>
            {% endfor %}
            {% for answear in question.answears.all %}
                <div style="block">
                    <p>{{answear.standard_user}}</p>
                    <p class="hidden">{{answear.text}}</p>
                </div>
            {% endfor %}
            <hr>
        {% endfor %}
</div>
{% endblock %}
