{% load static %}
{%  extends 'base/main.html' %}
{% block content %} 
<style>
    #id_text {
        width: 100%;
        height: 200px;  
    }
    .hidden {
        display: None;
    }
</style>
<div style="display:inline-block;">
    <h1>Questions</h1></div>
    <a href="{% url 'postquestion' %}" type="submit">Post Question</a>
        <hr>
        {% csrf_token %}
        {% for question in questions %}
            {% include 'base/question_display.html' %}
        {% endfor %}
</div>
{% endblock %}
