{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<style>
    .hidden{
        display:None;
    }
</style>
<br>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            {% for field in form %}
                {{field}}
                <hr>
            {% endfor %}
            <div style="margin-bottom:20px;">
                <p>Add Pictures: Max = 2</p>
                <input type="submit" name="Submit">
            </div>
            <div style="margin-bottom:20px;">
                <p>Submit</p>
                <input type="submit" name="Submit">
            </div>
            <div style="margin-bottom:20px;">
                <p>Come to Questions again</p>
                <input type="submit" name="Submit">
            </div>
        </form>
        <script>
            var form_fields = document.getElementsByTagName('input')


            for (var field in form_fields){	
                form_fields[field].className += ' form-control'
                form_fields[2].placeholder='Teacher';
                form_fields[3].placeholder='University';
                form_fields[4].placeholder='Text';
                form_fields[5].className = 'hidden';
                form_fields[6].className = 'hidden';
                form_fields[7].placeholder='Answear';

                
                for (var field in form_fields){	
                    form_fields[field].className += ' form-control'
                }
            }
        </script>
    </div>
{% endblock %}