{%  extends 'base/main.html' %}
{% block content %} 
<style>
    #id_text {
        width: 100%;
        height: 200px;  
    }
    .hidden {
        display: None;
    }
</style>
<div class="container">
    <h1 style="display: inline-block;">Questions</h1>
    <a style="display: inline-block;" href="{% url 'postquestion' %}" type="submit">Post Question</a>
</div>
<div style="background-color: ghostwhite; height: 200px; border-top: midnightblue 1px solid; border-bottom: midnightblue 1px solid;"></div>
<div class="container">
        <hr>
        {% csrf_token %}
        {% for question in questions %}
            {% include 'base/question_display.html' %}
        {% endfor %}
</div>
{% endblock %}
