{% load static %}
<style>
    #id_text {
        width: 100%;
        height: 200px;  
    }
    .hidden {
        display: None;
    }
</style>
<div class="container">
    {% csrf_token %}
    <div style="display:block; margin-bottom:50px; margin-bottom:50px;">
        <div style="display:block;">
            <div style="display:inline-block; margin:10px; margin-right:20px; margin-left: 0px;">
                <b style="font-size: 20px; color:#252c35;">Discipline: {{question.subject.discipline_name}}</b>
            </div>
            <div style="display:inline-block; margin:10px; margin-right:20px;">
                <b style="font-size: 20px; color:#252c35;">Subject: {{question.subject}}</b>
            </div>
            <div style="display: inline-block; margin:10px; margin-right:20px;">
                {% if question.university != None %}
                    <b style="font-size: 20px; color:#252c35;">University: {{question.university.initials}}</b>
                {% endif %}
            </div>
            <div style="display:inline-block; margin:10px; margin-right:20px;">
                <b style="font-size: 20px; color:#252c35;">Teacher: {{question.teacher_name}}</b>
            </div>
            <div style="display:inline-block; margin:10px; margin-right:20px;">
                <b style="font-size: 20px; color:#252c35;">Education Level: {{question.education_Level}}</b>
            </div>
            <div style="display:inline-block;">
                <b style="font-size: 20px; color:#252c35;">Posted: {{question.date_created.year}}</b>
            </div>      
        </div>
        <div>
            <p style="margin-bottom:30px;">{{question.text}}</p>
        </div>
        <button style="padding:10px; padding-right:20px; padding-left:20px; background-color: #bd0d22; color: white; border-radius: 10%; border: #e35760 1px solid; margin-right: 15px;" type="submit">Answear</button>
        <button id="answears" style="padding:10px; padding-right:20px; padding-left:20px; background-color: #bd0d22; color: white; border-radius: 10%; border: #e35760 1px solid; margin-right: 15px;"  onclick="Show">Answears</button>
        <button style="padding:10px; padding-right:20px; padding-left:20px; background-color: #bd0d22; color: white; border-radius: 10%; border: #e35760 1px solid; margin-right: 15px;">Commentaries</button>
        <a href="postreport"><button style="padding:10px; padding-right:20px; padding-left:20px; background-color: #bd0d22; color: white; border-radius: 10%; border: #e35760 1px solid;">Report</button></a>
    </div>
    <div class="hidden">
        <textarea style="width:100%; height: height:100%;"></textarea>
        <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Send Answear</button>
    </div>
    <div class="hidden" style="block">
        {% for commentary in question.comments.all %}
            <p>{{commentary.standard_user}} {{commentary.text}}</p>
        {% endfor %}
        <input>
        <button style="padding:10px; padding-right:20px; padding-left:20px;" type="submit">Send Answear</button>
    </div>
    {% for answear in question.answears.all %}
    <div class="hidden">
        {% include 'base/answears.html' %}
    </div>
    {% endfor %}
    <hr>
</div>