{% load static %}
<style>
    #id_text {
        width: 100%;
        height: 200px;  
    }
    .hidden {
        display: None;
    }
</style>
<div class="container">
    {% csrf_token %}
    <div style="display:block; margin-bottom:50px; margin-bottom:50px;">
        <div style="display:block;">
            {% if question.subject != None %}
                <div style="display:inline-block; display:inline-block;">
                    <b style="font-size: 20px; color:#252c35;">Discipline: {{question.subject.discipline_name}}</b>
                </div>
            {% endif %}
            {% if question.subject != None %}
                <div style="display:inline-block; margin-left: 5%;">
                    <b style="font-size: 20px; color:#252c35;">Subject: {{question.subject}}</b>
                </div>
            {% endif %}
            {% if question.university != None %}
                <div style="display:inline-block; display:inline-block; margin-left: 5%;">
                    <b style="font-size: 20px; color:#252c35;">Uni: {{question.university.initials}}</b>
                </div>
            {% endif %}
            <div style="display:inline-block; display:inline-block; margin-left: 5%;">
                <b style="font-size: 20px; color:#252c35;">Teacher: {{question.teacher_name}}</b>
            </div>
            <div style="display:inline-block; display:inline-block; margin-left: 5%;">
                <b style="font-size: 20px; color:#252c35;">Year: {{question.date_created.year}}</b>
            </div>      
        </div>
        <div>
            <p style="margin-bottom:30px;">{{question.text}}</p>
        </div>
        <div>
            <button id="answears" style="width: 10%; padding:10px; background-color: #e45c5c; color: white; border-radius: 10%; border:none; margin-right: 15px; font-weight: bold; font-size: 18px;"  onclick="Show">Answears</button>
            <button style="width: 10%; padding:10px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; margin-right: 15px; font-weight: bold; font-size: 18px;">Comment</button>
            <button style="width: 10%; padding:10px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; margin-right: 15px; font-weight: bold; font-size: 18px;">Statics</button>
            <button style="width: 10%; padding:10px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; margin-right: 15px; font-weight: bold; font-size: 18px;">Books</button>
            <a href="postreport"><button style="width: 10%; padding:10px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; font-weight: bold; font-size: 18px;">Report</button></a>
        </div>
    </div>
    <div style="margin-bottom: 4%;">
        <div>
            <textarea style="width:100%; height: 150px; border: #252c35 1px ridge;"></textarea>
            <div style="margin-left: 86%; width: 20%;">
                <button style="padding:10px; padding-right:20px; padding-left:20px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; font-weight: bold; font-size: 18px;" type="submit">Answear</button>
            </div>
        </div>
        <div class="hidden" style="block">
            {% for commentary in question.comments.all %}
                <p>{{commentary.standard_user}} {{commentary.text}}</p>
            {% endfor %}
            <input>
            <button style="padding:10px; padding-right:20px; padding-left:20px; background-color: #e45c5c; color: white; border-radius: 10%; border: none; margin-right: 15px; font-weight: bold; font-size: 18px;" type="submit">Comment</button>
        </div>
        {% for answear in question.answears.all %}
        <div class="hidden">
            {% include 'base/answears.html' %}
        </div>
        {% endfor %}
    </div>
    <hr>
</div>