{%  extends 'base/main.html' %}

{% block content %} 
<div class="container">
    <h1 style="margin-bottom:40px;">Universities</h1>
    <hr>
    {% for university in universities %}
        <div style="padding:20px;">
            <h5>{{university.initials}}</h5>
            <p>{{university.name}}</p>
            {% for address in university.addresses.all %}
                <p>{{address}}</p>
            {% endfor %}
            <button>Questions</button>
            <button>Teachers</button>
            <button>Students</button>
            <button style="position:absolute; right:200px;">Report</button>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}
